* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
}

.top-element {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
    height: 3em;
}

.top-element h5 {
    font-size: 0.8em;
    color: white;
}

.top-element p {
    font-size: 0.5em;
    color: white;
    margin-top: -10px;
    margin-bottom: 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header {
    font-size: 4em;
    color: black;
}