@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Mynerve&family=Oswald:wght@200;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

body {
    box-sizing: border-box;
}

.top-element {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
    height: 3em;
}

.top-element h5 {
    font-size: 0.8em;
    color: white;
}

.top-element p {
    font-size: 0.5em;
    color: white;
    margin-top: -10px;
    margin-bottom: 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header {
    font-size: 4em;
    color: black;
}

.nav-link,
.dropdown-item {
    color: black;
    font-size: 1.2em;
    font-weight: 200;
}

.carousel .carousel-item {
    max-height: 700px;
  }
  
  .carousel-item img {
    margin:0 auto;
    max-width: 100%;
  }

  @media screen and (max-width: 400px) {
    .carousel .carousel-item {
        max-height: 200px;
      }
  }